/* @media screen and (min-width: 320px) { */

body{
  background-color: #011638;
  /* margin-left:2px ; */
  /* min-width: 1000px; */
  /* max-width: 1400px; */
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 1px;
  word-spacing: 1px;
  color:white;
  font-family: 'Raleway', sans-serif;
  ;
  /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSylxC7EVIZZ7UavkCCabrvQgOE3gT7YkHck9JOqDit5mZbd2OR); */
  background-size: cover;
margin: 3em;
}

header{
  height: 100%;
  margin-top: 0px;
}

#abt1{
  text-align: center;
  color: white;
  /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSylxC7EVIZZ7UavkCCabrvQgOE3gT7YkHck9JOqDit5mZbd2OR); */
  background-repeat: repeat;

}

.header{
    opacity: none;
    position: sticky;
    top: 0;
    transition: top 0.3s;

  }

#fixed{
    /* position: fixed;
    top: 0;
    transition: top 0.3s;
    overflow: visible;
    background-color:#011638;
    opacity: 20%; */
    /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSylxC7EVIZZ7UavkCCabrvQgOE3gT7YkHck9JOqDit5mZbd2OR); */


  }
  header{
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 1;
    background-color: #011638;
    height: 15%;
    width: 100%
  

  }
   
  


/* ++++++++++++++++++++++++++++++++++Nav styling start+++++++++++++++++++++ */
nav{
  text-decoration: none;
  /* float: none; */
  /* width: 100%; */
  /* height: 50px; */
  font-size: 30px;
  border-left: none;
  border-right: none;
  text-align: left;
  /* background-color:; */
  /* padding: 3px; */
  /* margin: 2px; */
  /* height: 100%; */
  /* padding-right: 0px; */

}





/* individual styling of nav elements */
.nav_elem{
  /* margin:30px;
  width: 300px;
  height: 800px;
  padding-left: 10px;
  padding-right: 15px; */
  font-size: 20px;
  /* border-left: 20px; */
  /* border-right: 20px; */
  border-color: #4C5B61;
  border-width: thick;
  text-decoration: none;
  text-align:right;
  border: 0.1mm solid #4C5B61;
  /* border-top: none; */
  /* border-bottom: none;    text-align: right; */
  /* background-color: #829191; */
  /* background-image:url(https://images8.alphacoders.com/403/403441.gif); */
  /* background-blend-mode: color-burn; */
  border: none;

}
/* visited link */
a:visited {
  color: white;

}

/* mouse over link */
a:hover {
    background-color: #C7CCDB;
    color: #011638;
     /* text-decoration: none; */
     /* font-size: 110%; */


}

#icons:hover{
  font-size: 60px;

}
#icon:hover{
  font-size: 60px;
  margin-right: 100px;

}

/* selected link */
a:active {
    color: blue;
    background-color: grey;


}

a:link {
    color: white;

  }


/* +++++++++++++++++++++++++++++++++++++Nav styling end+++++++++++++++++++++++++++++ */
.abt_img{
  top: 10%;
  background-color:#C7CCDB;
  background-size: cover;
  /* padding-left: 10px; */
  border: 1mm solid #4C5B61;
  
  background-repeat: no-repeat;
  color: #282e34;
  font-family: 'Raleway', sans-serif;
  margin-top: 8%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  

  margin-left: 1em;
  margin-right: 1em;
  /* padding-top: 20px;
  /* height: 400px;  */

  margin-bottom: 1em;
  /* z-index: 1; */
}
.png{
  /* background-image:url(../images/jm_logo\ \(1\).png); */
  height: auto;
  width:100%;
  background-color: transparent;
  

  

}

#abt{
  /* width: 59%;
  float: left; */
}

#img{
  /* width: 20%;
  float: left;
  height: 50%; */


}

.round{
  /* float: left; */
  /* border-radius: 100px; */
  /* height: 300px; */
  /* width: 30%; */
  height: auto;
  width: 60%;
  margin: 8%;
  opacity: 0.9;
}

.flo{
  /* width: 75%; */
}


/* } */
/* ================================================end======================================== */
/* @media screen and (max-width: 993px) {
  .abt_img{
    display: grid;
    grid-template-columns: 1fr;
  }
} */

#edu{
  /* float: left; */
  /* width: 98%; */
  background-color: #C7CCDB;
  border:1mm solid #4C5B61;
  /* padding-left: 10px; */
  /* background-image: url(https://images8.alphacoders.com/403/403441.gif); */
  /* background-image:url(../images/jm_logo\ \(1\).png); */
  background-position-x: 4em;
  
   margin: 1em;
  /* background-blend-mode: color-burn; */
  color:#282e34;

}

#exp{
  /* float: left; */
  /* width: 98%; */
  /* color:; */
  /* padding-left: 10px; */
  background-color:#C7CCDB;
  /* background-image: url(https://images8.alphacoders.com/403/403441.gif); */
  /* background-image:url(../images/jm_logo\ \(1\).png); */
  background-repeat: no-repeat;
  margin: 1em;
  border: 1mm solid #4C5B61;
  /* background-blend-mode: color-burn; */
  color:#282e34;

}

#con{
  background-color: #C7CCDB;
  /* float: left;
  width: 98%;
  padding-left: 10px; */
  border:1mm solid #4C5B61;
  /* background-image: url(https://images8.alphacoders.com/403/403441.gif); */
  /* background-image:url(../images/jm_logo\ \(1\).png); */
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  margin: 1em;
  /* background-blend-mode: color-burn; */
  color:#282e34;

}

#icons{
  font-size: 50px;
  color: #4C5B61;
  margin: 10px;

}

#icon{
  font-size: 50px;
    color: #4C5B61;

}

footer{
  /* width: 100%;
  float: left; */
  /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSylxC7EVIZZ7UavkCCabrvQgOE3gT7YkHck9JOqDit5mZbd2OR); */
  bottom: 0;
  position: fixed;
  height: 8%;
  background-color: #011638;
  width: 100%;
}
/* ==================================animation for footer========================================= */
#animation{
    /* width: 100%; */
    /* height: 1em; */
    background: none;
    position: relative;
    -webkit-animation: mymove 0s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 20s infinite;
    color: white;
   
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {left: 0;}
    to {left: 100%;}
}

@keyframes mymove {
    from {left: -100%;}
    to {left: 100%;}
}




/* ============================================================================================ */
/* media query */
