
html{
  scroll-behavior: smooth;
  transition: 5s;
}
body{
  background-color: #011638;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 1px;
  word-spacing: 1px;
  color:white;
  font-family: 'Raleway', sans-serif;
  background-size: cover;
  margin: 3em;
}

header{
  height: 100%;
  margin-top: 0px;
}

#abt1{
  text-align: center;
  color: white;
  background-repeat: repeat;

}

.header{
    opacity: none;
    position: sticky;
    top: 0;
    transition: top 0.3s;

  }

  header{
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 1;
    background-color: #011638;
    height: 15%;
    width: 100%
  

  }
   
  


/* ++++++++++++++++++++++++++++++++++Nav styling start+++++++++++++++++++++ */
nav{
  text-decoration: none;
  font-size: 30px;
  border-left: none;
  border-right: none;
  text-align: left;

}





/* individual styling of nav elements */
.nav_elem{
  font-size: 20px;
  border-color: #4C5B61;
  border-width: thick;
  text-decoration: none;
  text-align:right;
  border: 0.1mm solid #4C5B61;
  border: none;

}
/* visited link */
a:visited {
  color: white;

}

/* mouse over link */
a:hover {
    background-color: #C7CCDB;
    color: #011638;

}

#icons:hover{
  font-size: 60px;

}
#icon:hover{
  font-size: 60px;
  margin-right: 100px;

}

/* selected link */
a:active {
    color: blue;
    background-color: grey;


}

a:link {
    color: white;

  }


/* +++++++++++++++++++++++++++++++++++++Nav styling end+++++++++++++++++++++++++++++ */
.abt_img{
  top: 10%;
  background-color:#C7CCDB;
  background-size: cover;
  border: 1mm solid #4C5B61;
  background-repeat: no-repeat;
  color: #282e34;
  font-family: 'Raleway', sans-serif;
  margin-top: 8%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  padding: 1em;

  }

.png{
  height: auto;
  width:100%;
  background-color: transparent;
  

}


.round{
  height: auto;
  width: 60%;
  margin: 8%;
  opacity: 0.9;
}


/* ================================================end======================================== */

#edu{
  background-color: #C7CCDB;
  border:1mm solid #4C5B61;
  background-position-x: 4em;
  margin: 1em;
  color:#282e34;
  padding: 1em;


}

#exp{
  background-color:#C7CCDB;
  background-repeat: no-repeat;
  margin: 1em;
  border: 1mm solid #4C5B61;
  color:#282e34;
  padding: 1em;


}
#skills{
  background-color:#C7CCDB;
  background-repeat: no-repeat;
  margin: 1em;
  border: 1mm solid #4C5B61;
  color:#282e34;
  padding: 1em;

}

#con{
  background-color: #C7CCDB;
  border:1mm solid #4C5B61;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  margin: 1em;
  color:#282e34;
  padding: 1em;


}

#icons{
  font-size: 50px;
  color: #4C5B61;
  margin: 10px;

}

#icon{
  font-size: 50px;
    color: #4C5B61;

}

footer{
  bottom: 0;
  /* position: fixed; */
  height: 8%;
  background-color: #011638;
  width: 100%;
}
/* ==================================animation for footer========================================= */
#animation{
     background: none;
    position: relative;
    -webkit-animation: mymove 0s infinite;
    animation: mymove 20s infinite;
    color: white;
   
}


@-webkit-keyframes mymove {
    from {left: 0;}
    to {left: 100%;}
}

@keyframes mymove {
    from {left: 0;}
    to {left: 0;}
    
}




/* ==============================================end of animation============================================== */
/* media query */

/* //////////////////carousel///////////////////////// */
.carousel{
    /* background-color: black; */
    width: 100%;
    height: auto;
}

.container_carousel{
    display: block;
    margin: 1em;
    height: 178px;
    border: 1mm solid #4C5B61;
    overflow: hidden;
    background-color: #4C5B61;
}

.sub{
    height: 160px;
    width: 5180px;
    background-color: #4C5B61;

    animation-name: carousel;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: relative; left:100%;
}
.sub img{
    display: inline;
    width: auto;
    height: 160px;
    margin-right:50px;
    font-size: 12em;


}
/* i{
} */


@keyframes carousel{
    100%{
        position: relative;left:-4580px;
    }
}
/* //////////////////carousel///////////////////////// */

/* ///////////////////footer////////////////////////////// */
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	padding: 45px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}

