

body{
  background-color: #011638;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 1px;
  word-spacing: 1px;
  color:white;
  font-family: 'Raleway', sans-serif;
  background-size: cover;
  margin: 3em;
}

header{
  height: 100%;
  margin-top: 0px;
}

#abt1{
  text-align: center;
  color: white;
  background-repeat: repeat;

}

.header{
    opacity: none;
    position: sticky;
    top: 0;
    transition: top 0.3s;

  }

  header{
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 1;
    background-color: #011638;
    height: 15%;
    width: 100%
  

  }
   
  


/* ++++++++++++++++++++++++++++++++++Nav styling start+++++++++++++++++++++ */
nav{
  text-decoration: none;
  font-size: 30px;
  border-left: none;
  border-right: none;
  text-align: left;

}





/* individual styling of nav elements */
.nav_elem{
  font-size: 20px;
  border-color: #4C5B61;
  border-width: thick;
  text-decoration: none;
  text-align:right;
  border: 0.1mm solid #4C5B61;
  border: none;

}
/* visited link */
a:visited {
  color: white;

}

/* mouse over link */
a:hover {
    background-color: #C7CCDB;
    color: #011638;

}

#icons:hover{
  font-size: 60px;

}
#icon:hover{
  font-size: 60px;
  margin-right: 100px;

}

/* selected link */
a:active {
    color: blue;
    background-color: grey;


}

a:link {
    color: white;

  }


/* +++++++++++++++++++++++++++++++++++++Nav styling end+++++++++++++++++++++++++++++ */
.abt_img{
  top: 10%;
  background-color:#C7CCDB;
  background-size: cover;
  border: 1mm solid #4C5B61;
  background-repeat: no-repeat;
  color: #282e34;
  font-family: 'Raleway', sans-serif;
  margin-top: 8%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;

  }

.png{
  height: auto;
  width:100%;
  background-color: transparent;
  

}


.round{
  height: auto;
  width: 60%;
  margin: 8%;
  opacity: 0.9;
}


/* ================================================end======================================== */

#edu{
  background-color: #C7CCDB;
  border:1mm solid #4C5B61;
  background-position-x: 4em;
  margin: 1em;
  color:#282e34;

}

#exp{
  background-color:#C7CCDB;
  background-repeat: no-repeat;
  margin: 1em;
  border: 1mm solid #4C5B61;
  color:#282e34;

}

#con{
  background-color: #C7CCDB;
  border:1mm solid #4C5B61;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  margin: 1em;
  color:#282e34;

}

#icons{
  font-size: 50px;
  color: #4C5B61;
  margin: 10px;

}

#icon{
  font-size: 50px;
    color: #4C5B61;

}

footer{
  bottom: 0;
  position: fixed;
  height: 8%;
  background-color: #011638;
  width: 100%;
}
/* ==================================animation for footer========================================= */
#animation{
     background: none;
    position: relative;
    -webkit-animation: mymove 0s infinite;
    animation: mymove 20s infinite;
    color: white;
   
}


@-webkit-keyframes mymove {
    from {left: 0;}
    to {left: 100%;}
}

@keyframes mymove {
    from {left: -100%;}
    to {left: 100%;}
}




/* ==============================================end of animation============================================== */
/* media query */
